@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom tailwind classes */

.body-container {
  @apply bg-gradient-to-b from-blue-400 to-gray-900 gap-6 flex flex-col items-center justify-between min-h-screen;
}

.section-container {
  @apply flex flex-row items-center justify-between px-4 md:px-12 py-6 w-full md:w-3/4 lg:w-3/5;
}

.section-subcontainer {
  @apply flex flex-col items-center justify-between gap-4 w-full;
}

.section-container a {
  @apply text-blue-300 hover:text-blue-500 cursor-pointer underline;
}

.section-container p,
h1,
h3 {
  @apply text-white;
}

.section-container h1 {
  @apply text-xl md:text-2xl font-bold;
}

.section-container h3 {
  @apply md:text-lg font-bold;
}

.white-icon {
  @apply text-xl text-white;
}

.clickable-white-icon {
  @apply text-3xl md:text-5xl text-white hover:text-blue-500 cursor-pointer;
}

.text-link {
  @apply text-blue-300 hover:text-blue-500 cursor-pointer;
}
